<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bevern</title>
    <link rel="stylesheet" href="./css/style-gallery.css">
  </head>
  <body>
    <div class="gallery">
      <div class="img-box"><img src="./img/gallery/photo-1583169846133-cd424b56fe29.jpg" alt=""></div>
      <div class="img-box"><img src="./img/gallery/photo-1583217874284-582a94ad33f4.jpg" alt=""></div>
      <div class="img-box"><img src="./img/gallery/photo-1583221742001-9ad88bf233ff.jpg" alt=""></div>
      <div class="img-box"><img src="./img/gallery/photo-1583239089655-e3df87699277.jpg" alt=""></div>
      <div class="img-box"><img src="./img/gallery/photo-1557336420-ad6d3a20e1d2.jpg" alt=""></div>
      <div class="img-box"><img src="./img/gallery/photo-1520971007605-aafafdbb64ba.jpg" alt=""></div>
      <div class="img-box"><img src="./img/gallery/photo-1537081521012-e2f7747a84e7.jpg" alt=""></div>

    </div>
  </body>
</html>
