<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
    <title>Bevern</title>
</head>
<body class="body-backgroundImage-default">
    <header>
        <nav>
            <span class="logo">Bevern</span>
            <ul>
                <li><a href="/recipes">Order now</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="#">Story</a></li>
                <li><a href="#">Visit</a></li>
            </ul>
        </nav>
    </header>

    <div class="home-wrapper">
        <div class="bevern-street">
            <p>3a Ivan Tonchev Street - Gabrovo , Gabrovo - 089923185</p>
        </div>

        <div class="navigation">
            <div class="bevern-eat">
                <a href="/recipes" class="bevern-eat-a">Eat</a>
            </div>
            <div class="bevern-drink">
                <a href="/recipes" class="bevern-drink-a">Drink</a>
            </div>
            <div class="bevern-visit">
                <a href="/recipes" class="bevern-visit-a">Visit</a>
            </div>
        </div>

    </div>

    <script src="./js/main.js"></script>
</body>
</html>